$bg-light: hsl(0, 0%, 92%);
$bg-dark: hsl(240, 50%, 1%);

$text-light: hsl(240, 50%, 1%);
$text-dark: hsl(0, 0%, 92%);

$primary-light: hsl(149, 45%, 61%);
$primary-dark: hsl(149, 80%, 90%);

$shimmer-bg-light: hsla(0, 0%, 73%, 0.489);
$shimmer-bg-dark: hsla(356, 100%, 95%, 0.1);

$shimmer-light: hsla(0, 0%, 95%, 0.72);
$shimmer-dark: #{$shimmer-bg-dark};

:root {
  --background: #{$bg-light};
  --background-alpha: #{transparentize($bg-light, 0.3)};
  --text: #{$text-light};
  --text-alpha: #{transparentize($text-light, 0.2)};
  --primary: #{$primary-light};
  --primary-alpha: #{transparentize($primary-light, 0.3)};
  --shimmer-bg: #{$shimmer-bg-light};
  --shimmer: #{$shimmer-light};
}

@mixin darkTheme() {
  --background: #{$bg-dark};
  --background-alpha: #{transparentize($bg-dark, 0.5)};
  --text: #{$text-dark};
  --text-alpha: #{transparentize($text-dark, 0.2)};
  --primary: #{$primary-dark};
  --primary-alpha: #{transparentize($primary-dark, 0.3)};
  --shimmer-bg: #{$shimmer-bg-dark};
  --shimmer: #{$shimmer-dark};
}

$sea100: #ecfdf5;
$sea200: #d1fae5;
$sea300: #99f6e4;
$sea400: #5eead4;
$sea500: #22d3ee;
$sea600: #06b6d4;
$sea700: #0284c7;
$sea800: #0369a1;
$sea900: #1e40af;
$sea1000: #1e3a8a;
$sea1100: #172554;

$seagreen: #48b979;
$lavender: #e8c2e1fc;