@import "./_init-color";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #8ebac7;
}

body {
  background: var(--background);
  color: var(--text);
  transition: color .125s ease-in-out, background-color .0125s ease-in-out;
}

body[data-theme=dark] {
  @include darkTheme();
}

@media ((prefers-color-scheme: dark)) {
  body[data-theme=unset] {
    @include darkTheme();
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .shimmer {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    background: var(--shimmer-bg);
    &::before {
      content: "";
      position: absolute;
      inset: 0px;
      border-top-width: 1px;
      border-color: var(--shimmer);
      will-change: transform;
      transform: translateX(-100%);
      animation: shimmer 2s infinite;
      background-image: linear-gradient(
        to right,
        transparent 0,
        var(--shimmer) 50%, 
        transparent 100%
      );
    }
  }
}
@keyframes shimmer {
  to {
    transform: translateX(100%);
  }
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #92ae9f6d;
}

::-webkit-scrollbar-thumb {
  background-color: #94b7a66d;
}

.main-color {
  color: var(--main-color);
  transition: color .25s ease-in-out;
}

@media (prefers-reduced-motion) {
  .main-color {
    color: #8ebac7;
  }
}

.area {
  border: 0.5px solid #8ebac7;
}