@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-hs: 255, 4%;
  --color-l: 85%;
  --background-hs: 180, 25%;
  --background-l: 11%;
  --main-color: #8ebac7;
}

body {
  color: hsla(var(--color-hs), var(--color-l));
  background: hsla(var(--background-hs), var(--background-l), 0.7);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #92ae9f6d;
}

::-webkit-scrollbar-thumb {
  background-color: #94b7a66d;
}

.main-color {
  color: var(--main-color);
  transition: color .25s ease-in-out;
}

@media (prefers-reduced-motion) {
  .main-color {
    color: #8ebac7;
  }
}

.area {
  border: 0.5px solid #8ebac7;
}