$primary-color: #d1fae5;

$sea100: #ecfdf5;
$sea200: #d1fae5;
$sea300: #99f6e4;
$sea400: #5eead4;
$sea500: #22d3ee;
$sea600: #06b6d4;
$sea700: #0284c7;
$sea800: #0369a1;
$sea900: #1e40af;
$sea1000: #1e3a8a;
$sea1100: #172554;